<a href="https://colab.research.google.com/github/Prasannas544/Business_Analytics/blob/main/11thJuly.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Array

In [1]:
#Array
arr = array(data=c(10,14,15,20,21,22,23,25),dim=c(2,2,2))

In [3]:
arr[1,2,1]

[1] 15

In [5]:
arr[,,1]

     [,1] [,2]
[1,] 10   15
[2,] 14   20

In [6]:
arr[1,,1]

[1] 10 15

In [14]:
eg_matrix1= array(data=1:40,dim=c(10,4))

In [15]:
eg_matrix1

      [,1] [,2] [,3] [,4]
 [1,]  1   11   21   31
 [2,]  2   12   22   32
 [3,]  3   13   23   33
 [4,]  4   14   24   34
 [5,]  5   15   25   35
 [6,]  6   16   26   36
 [7,]  7   17   27   37
 [8,]  8   18   28   38
 [9,]  9   19   29   39
[10,] 10   20   30   40

In [11]:
eg_matrix2 = matrix(data=1:40,nrow=10,ncol=4)

In [12]:
eg_matrix2

      [,1] [,2] [,3] [,4]
 [1,]  1   11   21   31
 [2,]  2   12   22   32
 [3,]  3   13   23   33
 [4,]  4   14   24   34
 [5,]  5   15   25   35
 [6,]  6   16   26   36
 [7,]  7   17   27   37
 [8,]  8   18   28   38
 [9,]  9   19   29   39
[10,] 10   20   30   40

In [16]:
#Element wise operations
eg_matrix1==eg_matrix2

      [,1] [,2] [,3] [,4]
 [1,] TRUE TRUE TRUE TRUE
 [2,] TRUE TRUE TRUE TRUE
 [3,] TRUE TRUE TRUE TRUE
 [4,] TRUE TRUE TRUE TRUE
 [5,] TRUE TRUE TRUE TRUE
 [6,] TRUE TRUE TRUE TRUE
 [7,] TRUE TRUE TRUE TRUE
 [8,] TRUE TRUE TRUE TRUE
 [9,] TRUE TRUE TRUE TRUE
[10,] TRUE TRUE TRUE TRUE

In [18]:
dim(arr)

[1] 2 2 2

In [19]:
nrow(eg_matrix)

[1] 10

In [20]:
ncol(eg_matrix)

[1] 4

In [21]:
#Indexing and Modifying elements
my_mat=array(1:8,c(4,4))

In [22]:
my_mat

     [,1] [,2] [,3] [,4]
[1,] 1    5    1    5
[2,] 2    6    2    6
[3,] 3    7    3    7
[4,] 4    8    4    8

In [23]:
my_mat[2:4,2]

[1] 6 7 8

In [24]:
my_mat[1,]

[1] 1 5 1 5

In [25]:
my_mat[,1]

[1] 1 2 3 4