<a href="https://colab.research.google.com/github/Prasannas544/Business_Analytics/blob/main/12th_July.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#rbind and #cbind ,  Adding elements


countries_data<-data.frame(country=c('Portugal','France','UK'),
        population=c(10280000,66990000,66650000),
        EU=c(TRUE,TRUE,FALSE)
)

In [2]:
print(countries_data)

   country population    EU
1 Portugal   10280000  TRUE
2   France   66990000  TRUE
3       UK   66650000 FALSE

In [3]:
spain_data <- data.frame( country =c('Spain'),
                          population=c(572615474),
                          EU=c(TRUE)
                        )

In [4]:
print(spain_data)

  country population   EU
1   Spain  572615474 TRUE

In [6]:
countries_data <- rbind(countries_data,spain_data)

In [7]:
print(countries_data)

   country population    EU
1 Portugal   10280000  TRUE
2   France   66990000  TRUE
3       UK   66650000 FALSE
4    Spain  572615474  TRUE

In [8]:
capitals <- c("Lisbon","Paris","London","Madrid");

In [10]:
countries_data <- cbind(countries_data,capitals)

In [11]:
print(countries_data)

   country population    EU capitals
1 Portugal   10280000  TRUE   Lisbon
2   France   66990000  TRUE    Paris
3       UK   66650000 FALSE   London
4    Spain  572615474  TRUE   Madrid

In [12]:
str(countries_data)

'data.frame':	4 obs. of  4 variables:
 $ country   : chr  "Portugal" "France" "UK" "Spain"
 $ population: num  1.03e+07 6.70e+07 6.66e+07 5.73e+08
 $ EU        : logi  TRUE TRUE FALSE TRUE
 $ capitals  : chr  "Lisbon" "Paris" "London" "Madrid"