<a href="https://colab.research.google.com/github/Prasannas544/Business_Analytics/blob/main/8thJuly.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
melons=c(10,20,30,40,67)

In [2]:
sum(melons)

[1] 100

In [6]:
#Sum of all elements
sum=0

for(elem in melons){
  sum = sum+elem
}
print(sum)

[1] 167

In [8]:
# Count all the elements in vector / find vector size using loop
abc =c(10,20,4,30,50,40,65,88,91,93)

count=0

for(ele in abc){
  count = count+1;
}

print(count)

[1] 10

In [11]:
#Break 
fruits<-c("apple","banana","cherry","Coconut","mango")

for(x in fruits){

if(x=="cherry"){
  break
}

print(x) #work

}

print("out of loop")

[1] "apple"
[1] "banana"
[1] "out of loop"

In [16]:
#Next statement  
fruits<-c("apple","banana","cherry","Coconut","mango")

for(x in fruits){

if(x =="cherry"){
  next
} 
print(x)       # work
}
print("Outta loop")

[1] "Outta loop"

While Loop

In [23]:
i = 1 #intialization

while(i<6){

print(i) #work

i = i+1;  #Updation 

}

print("Outta loop")
print(i)

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] "Outta loop"
[1] 6

In [26]:
begin <- 1      # create a variable with value 1 / intialization

while(begin <= 10){     #creat the loop

print(paste('This is loop number : ',begin))

begin <-begin + 1         #Updation

}


print(paste('Value of variable after loop ends : ',begin))

[1] "This is loop number :  1"
[1] "This is loop number :  2"
[1] "This is loop number :  3"
[1] "This is loop number :  4"
[1] "This is loop number :  5"
[1] "This is loop number :  6"
[1] "This is loop number :  7"
[1] "This is loop number :  8"
[1] "This is loop number :  9"
[1] "This is loop number :  10"
[1] "Value of variable after loop ends :  11"

In [35]:
#Break statement 
i<-1

while(i<=6){

  print(i)

  if(i==4){
    break
  }

  i=i+1
}

[1] 1
[1] 2
[1] 3
[1] 4

In [33]:
# next statement 
i<-1 
while(i<=6){



if(i==4) {
  i=i+1 
  next
}
  
print(i)


i=i+1 

}

[1] 2
[1] 3
[1] 5
[1] 6
[1] 7