<a href="https://colab.research.google.com/github/Prasannas544/Business_Analytics/blob/main/Feb_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
cities_population <- c(10000,20000,4000,3000)

In [ ]:
cities_population

In [ ]:
countries_population

In [ ]:
rm(cities_population)

In [ ]:
char_cities_population <- c(10000,20000,4000,"3000")

In [ ]:
typeof(char_cities_population)

In [ ]:
sum(cities_population)

In [ ]:
sum(char_cities_population)

Vector Indexing and Slicing

In [ ]:
melons=c(1.2,1.4,2.4,3.4)

In [ ]:
melons[1] #indexing by position

In [ ]:
melons[5]

In [ ]:
melons[2:4] #indexing by slicing

In [ ]:
melons[c(1,4)] #indexing using vectors
#to get weight of 1st melon and 4th melon

In [ ]:
#Vector Operations
melons[1] + melons[2] +melons[3] +melons[4]      #not suitable for 100 elements

In [ ]:
sum(melons) #sum up every object in a vector

In [ ]:
2*melons # double the weight of each melon

In [ ]:
melons + melons    #addition of respective indexes

In [ ]:
melons/2

In [ ]:
sqrt(melons)

In [ ]:
#first 2 melons are 20% wt and last 2 melons have 40% weight
adjusted_weights=c(1.2,1.2,1.4,1.4)
melons*adjusted_weights

In [ ]:
melons[1]

In [ ]:
adjusted_weights[1]

In [ ]:
1.2*1.2 # Verified the result

In [ ]:
new_melons=c(1.2,1.4,2.4,3.4,1)

In [ ]:
adjusted_weights=c(1.2,1.2,1.4,1.4)
new_melons*adjusted_weights

In [ ]:
mean(melons)

In [ ]:
length(melons)

In [ ]:
median(melons)

In [ ]:
sd(melons)

[1] 1.013246

In [ ]:
sort(melons) # output is a vector

[1] 1.2 1.4 2.4 3.4

In [ ]:
sort(melons,decreasing = TRUE)

[1] 3.4 2.4 1.4 1.2

In [ ]:
new_melons=c(1.2,1.4,2.4,3.4,NA) #5th melon with unknown weight

In [ ]:
sum(new_melons) #NA will give problems

[1] NA

In [ ]:
sum(new_melons,na.rm=TRUE) #to ignore the NA

[1] 8.4

In [ ]:
new_melons=c(1.2,1.4,2.4,3.4,NaN)

In [ ]:
sqrt(-1)

Warning message in sqrt(-1):
“NaNs produced”

[1] NaN

In [ ]:
sum(new_melons)

[1] NaN

In [ ]:
sum(new_melons,na.rm=TRUE) #to ignore the NaN

Comparison Operators

In [ ]:
#suppose i want to eat all the melons with above 2 kg weight
melons > 2     # a logical vector

In [ ]:
melons[melons>2]

In [ ]:
melons == 2.4

In [ ]:
melons != 1.4

In [ ]:
which( melons >2 )  #gives position of the elements where condition is true

[1] 3 4

Names property

In [ ]:
countries=c(10276617,67545757,67020000)

In [ ]:
names(countries) <-c('Portugal','UK','France')

In [ ]:
countries['France']

In [ ]:
countries['Portugal','France']

In [ ]:
countries[c('Portugal','France')]

Portugal   France
10276617 67020000

In [ ]:
which(countries> 20000000)

    UK France
     2      3

In [ ]:
names(which(countries> 20000000))

[1] "UK"     "France"

Modifying vector elements

In [ ]:
melons=c(1.2,1.4,2.4,3.4)

In [ ]:
melons[1]<-2

In [ ]:
melons

In [ ]:
melons[2:4] <-c(3,4,5) # replacing multiple elements  # number of elemnts must match

In [ ]:
melons[5] <- 10

In [ ]:
#Change all the melons which weight less than 2 to 2
melons=c(1.2,1.4,2.4,3.4,1.2)
melons[melons<2] <-2

In [ ]:
#removing elements from a vector
new_melons <- melons[-c(2,4)] # removed the element at index 2 and 4

In [ ]:
new