<a href="https://colab.research.google.com/github/Prasannas544/Business_Analytics/blob/main/July_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
# Create a function to print squares of numbers in sequence.
squaresq <- function(a) {
    #function body
    for(i in 1:a){
        b <- i^2
        print(b)
    } 
}

In [ ]:
squaresq(16)

In [14]:
# Create a function w/o argument
sqwoarg <- function() {
    #function body
    for(i in 1:5){
        b <- i^2
        print(b)
    } 
}

In [15]:
sqwoarg()

[1] 1
[1] 4
[1] 9
[1] 16
[1] 25

In [34]:
# ab + c Print after evaluation

myfunc <- function(a,b,c){

  result= a*b +c;
  print(result)
}

In [27]:
myfunc(4,7,1)

[1] 29

In [35]:
a=10
b=20
c=45


myfunc(a,a,a)  #function call

[1] 110

In [45]:
# Function with default arguments
func2 <- function (a = 3,b= 6){
  result <- a*b;
  print(result);
}

In [37]:
func2()

[1] 18

In [38]:
func2(9,5)

[1] 45

In [41]:
func2(,10)

[1] 30

In [42]:
func2(10)

[1] 60

In [46]:
# Function with default arguments
func3 <- function (a ,b = 6){
  result <- a*b;
  print(result);
}

In [52]:
a=func3(5,10)

[1] 50

In [54]:
# Function w/ return types
a = sqrt(16)

In [67]:
# Function w/ return types
check <- function(x) {
  if(x>0){
    result <-"Positve"
  }
  else if(x<0){
    result <- "Negative"
  }
  else{
    result <- "Zero"

  }

return (result)

}

In [74]:
ans=check(-61)

In [75]:
print(ans)

[1] "Negative"

In [76]:
check <- function(x) {
  if(x>0){
    return("Positve")
  }
  if(x<0){
    return("Negative")
  }
  
  return("Zero")
    
}

Cleaning Walmart data

In [83]:
#Load the walmart_data and walmart_features files
walmart_data = read.csv("/content/sample_data/walmart_data.csv")

In [78]:
walmart_features <- read.csv("/content/sample_data/walmart_features.csv")

In [ ]:
walmart_data

In [ ]:
walmart_features

In [91]:
#Store the number of rows of walmart_data in a variable called n_rows
  n_rows <- nrow(walmart_data)
  n_rows

[1] 421570

In [96]:
print(head(walmart_data))   #Top 10 rows of the datset

  Store Dept       Date Weekly_Sales IsHoliday
1     1    1 2010-02-05     24924.50     FALSE
2     1    1 2010-02-12     46039.49      TRUE
3     1    1 2010-02-19     41595.55     FALSE
4     1    1 2010-02-26     19403.54     FALSE
5     1    1 2010-03-05     21827.90     FALSE
6     1    1 2010-03-12     21043.39     FALSE

In [ ]:
print(tail(walmart_data,10))   #Bottom 10 rows of the datset

In [99]:
# Count the number of rows per Store and store the resulting object in R with the name rows_per_store 
   rows_per_store =  table(walmart_data$Store) #create a frequency table
   rows_per_store

[1] "integer"

In [ ]:
rows_per_store = as.data.frame( rows_per_store)
rows_per_store

In [103]:
#Which store has the most rows ? 
max(rows_per_store$Freq)

[1] 10474

In [ ]:
rows_per_store[order(rows_per_store$Freq),]     #Increasing order

In [ ]:
rows_per_store[order(-rows_per_store$Freq),]    #Decreasing order

In [122]:
rows_per_store[order(-rows_per_store$Freq),'Var1']   # we get a factor

 [1] 13 10 4  1  2  24 27 34 20 6  32 19 31 28 41 11 23 14 40 15 8  39 17 18 26
[26] 25 7  12 22 45 21 35 29 16 3  5  9  38 37 44 30 42 43 33 36
45 Levels: 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 ... 45

In [120]:
vec=as.character(rows_per_store[order(-rows_per_store$Freq),'Var1'])

In [118]:
as.character(rows_per_store[order(-rows_per_store$Freq),'Var1'])[1]

[1] "13"

In [121]:
vec[1]

[1] "13"